extends base

block content
  main.main
    .user-view
      include _sidebar
      

      .user-view__content.txt-cntr
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your Company's Artworks
          
        //- - if (user.company.companyType === 'BrandOwner' || user.role === 'root')
        a.btn__showAddForm.btn.btn--green.btn--small
          div.btn-add
            svg.card__icon-white.mr
              use(xlink:href='/img/icons.svg#icon-file-plus')
            | Add Artwork Colors