extends base

block content
  main.main
    .user-view
      include _sidebar

      .user-view__content.txt-cntr
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your Company's Colors

        a.btn__showAddForm.btn.btn--green.btn--small(companyID=user.company.id) 
          div.btn-add
            svg.card__icon-white.mr
              use(xlink:href='/img/icons.svg#icon-file-plus')
            | Add Color

        .add__content.hidden
          .user-view__form-container
            h2.heading-secondary.ma-bt-md Add A Color

            form.form.form-color-data(brands=cleanBrandList)
              .form__group.ma-bt-md
                label.form__label(for='name') ColorName
                input#name.form__input(type='text', value=`name`, required, name='name')
              .form__group.ma-bt-md
                label.form__label(for='selectBrand') Select Brand
                select.form__input(id='selectBrand')  
              div.form__horizontal.ma-bt-md
                .form__groupHori
                  label.form__label(for='cie_l') Cie-L
                  input#cie_l.form__input(type='number', value=`10`, required, name='cie_l')
                .form__groupHori
                  label.form__label(for='cie_a') Cie-a
                  input#cie_a.form__input(type='number', value=`10`, required, name='cie_a')
                .form__groupHori
                  label.form__label(for='cie_b') Cie-b
                  input#cie_b.form__input(type='number', value=`10`, required, name='cie_b')
              div.form__horizontal.ma-bt-md
                .form__groupHori
                  label.form__label(for='dens') Dens
                  input#dens.form__input(type='number', value=`10`, required, name='dens')
                .form__groupHori
                  label.form__label(for='halftone') Halftone
                  input#halftone.form__input(type='number', value=`10`, required, name='halftone')
                .form__groupHori
                  label.form__label(for='filter') Filter
                  input#filter.form__input(type='text', value=`cyan`, required, name='filter')
              .form__group.right
                button.btn.btn--small.btn--green Save Color

        .line &nbsp;
              
        
        p= JSON.stringify(cleanColorList)