extends base

block content
  main.main
    .user-view
      include _sidebar

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your Company settings
          form.form.form-company-data
            .form__group
              label.form__label(for='name') Company Name
              input#name.form__input(type='text', value=`${company.companyName}`, required, name='name')
            .form__group.ma-bt-md
              label.form__label(for='adress') Comapny Adress
              input#adress.form__input(type='text', value=`${company.adress}`, required, name='adress')
            .form__group.form__photo-upload
              img.form__user-photo(src=`/img/companies/${company.companyPhoto}`, alt='photo')
              input.form__upload(type='file', accept='image/*',id='photo', name='photo')
              label(for='photo') Choose new photo
            .form__group.right
              button.btn.btn--small.btn--orange Save settings