:root {
  --section-rotate: 9vw;

  --primaryLight: #9bb3de;
  --primary: #4976c8;
  --primaryDark: #194f75;
  --primaryDarker: #244a92;
  --primaryDarkest: #284c91;
  /* rgba(155, 179, 222, 0.85)
  rgba(36, 75, 146, 0.85) */

  --secendaryLight: #7dd56f;
  --secendary: #55c57a;
  --secendaryDark: #20bf6b;
  --secendaryDarker: #28b487;
  --secendaryDarkest: #2e864b;
  /* rgba(125, 213, 111, 0.85)
 rgba(40, 180, 135, 0.85) */

  --green: #20bf6b;
  --greenDarker: #187e47;
  --orange: #ff7730;
  --orangeDarker: #c65518;
  --red: #eb4d4b;
  --redDarker: #ae2e2c;

  --black: #000;
  --White: #fff;

  --grayDarkest: #444;
  --grayDark: #777;
  --grayMedium: #999;
  --grayLight: #e0e0e0;
  --grayLighter: #f2f2f2;
  --grayLightest: #f7f7f7;
  --test: rgb(204, 255, 0);
}

::selection {
  background-color: var(--primary);
  color: var(--White);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: var(--grayDark);
  padding: 3rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: var(--grayLightest);
  padding: 2rem 6rem;
  flex: 1;
  position: relative;
}

/*$$$$$$$$$$$$$$$$$$$$$$ general elements $$$$$$$$$$$$$$$$$$$$$$*/

.flex {
  display: flex;
}

.span-all-rows {
  grid-row: 1 / -1;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.right {
  text-align: right !important;
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: var(--grayLight);
}

.mr {
  margin-right: 1rem;
}

/*$$$$$$$$$$$$$$$$$$$$$$ alert  $$$$$$$$$$$$$$$$$$$$$$*/

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  color: var(--White);
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: var(--green);
}
.alert--error {
  background-color: var(--red);
}

/*$$$$$$$$$$$$$$$$$$$$$$ heading  $$$$$$$$$$$$$$$$$$$$$$*/

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    var(--primaryLight),
    var(--primaryDarker)
  );
  background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.heading-spacer {
  margin-bottom: 4rem;
}

.heading-secondary--error {
  background-image: linear-gradient(to right, var(--orange), var(--red));
  font-size: 3.5rem;
}

.heading-primary,
.heading-tertirary {
  color: var(--White);
  text-transform: uppercase;
  font-weight: 300;
}
.heading-primary span,
.heading-tertirary span {
  padding: 1rem 1.5rem;
  line-height: 1;
  box-decoration-break: clone;
  background-image: linear-gradient(
    to bottom right,
    rgba(155, 179, 222, 0.85),
    rgba(36, 75, 146, 0.85)
  );
}

.heading-primary {
  font-size: 5rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.heading-tertirary {
  font-size: 2rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 70%;
  z-index: 10;
}

/*$$$$$$$$$$$$$$$$$$$$$$ buttons  $$$$$$$$$$$$$$$$$$$$$$*/

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: var(--primaryDarkest);
}

.btn--white {
  background-color: var(--White);
  color: var(--grayDark);
}
.btn--white::after {
  background-color: var(--White);
}

.btn--orange:focus {
  background-color: var(--grayMedium);
}

.btn--green {
  background-color: var(--secendary);
  color: var(--White);
}

.btn--green::after {
  background-color: var(--secendary);
}

.btn--green:focus {
  background-color: var(--greenDarker);
}

.btn--red {
  background-color: var(--red);
  color: var(--White);
}
.btn--red::after {
  background-color: var(--red);
}

.btn--red:focus {
  background-color: var(--redDarker);
}

.btn--orange {
  background-color: var(--orange);
  color: var(--White);
}

.btn--orange::after {
  background-color: var(--orange);
}

.btn--orange:focus {
  background-color: var(--orangeDarker);
}

.btn--blue {
  background-color: var(--primary);
  color: var(--White);
}

.btn--blue::after {
  background-color: var(--primary);
}

.btn--blue:focus {
  background-color: var(--primaryDarker);
}

.btn--small {
  padding: 1.25rem 3rem !important;
  font-size: 1.4rem !important;
}

.btn--xtrasmall {
  padding: 0.25rem 1rem !important;
  font-size: 0.8rem !important;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
  background-color: var(--primary);
  color: var(--White);
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;
}

.btn-small:hover {
  background-color: var(--primaryLight);
}

.btn-text:link,
.btn-text:visited {
  color: var(--primary);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--primary);
  padding: 3px;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: var(--primary);
  color: var(--White);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-text:focus {
  outline: none;
  outline: 3px solid var(--primary);
  outline-offset: 3px;
}

.btn-add {
  display: flex;
  align-items: center;
}

/*$$$$$$$$$$$$$$$$$$$$$$ header  $$$$$$$$$$$$$$$$$$$$$$*/

.header {
  background-color: var(--grayDarkest);
  padding: 0 5rem;
  height: 8rem;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 62.5em) {
  .header {
    flex-direction: column;
  }
}

.header__logo {
  height: 4rem;
  margin-right: 1rem;
  border-radius: 3%;
}

@media only screen and (max-width: 62.5em) {
  .header__logo {
    order: -1;
    margin-bottom: 1.5rem;
  }
}

.user-view {
  background-color: var(--White);
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: flex;
}

.txt-cntr {
  text-align: center;
}

.user-view__menu {
  flex: 25rem 0 0;
  background-image: linear-gradient(
    to right bottom,
    var(--primaryLight),
    var(--primaryDarker)
  );
  padding: 4rem 0;
}
.user-view__content {
  flex: 1;
  padding: 7rem 0;
}

.hidden {
  display: none;
}

.user-add__content {
  text-align: left;
  flex: 1;
  padding: 7rem 0;
}

.add__content {
  text-align: left;
  flex: 1;
  padding: 7rem 0;
}

.user-view__form-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 8rem;
  /* text-align: center; */
}

/*$$$$$$$$$$$$$$$$$$$$$$ footer  $$$$$$$$$$$$$$$$$$$$$$*/

.footer {
  background-color: var(--grayLightest);
  padding: 6rem 4rem 3rem 4rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  justify-content: space-between;
}
@media only screen and (max-width: 50em) {
  .footer {
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
    justify-items: center;
  }
}
.footer__logo {
  grid-row: 1 / 3;
  align-self: center;
}
@media only screen and (max-width: 50em) {
  .footer__logo {
    grid-row: 1;
  }
}
.footer__logo img {
  height: 3rem;
}
.footer__nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.footer__nav li {
  margin-left: 1.5rem;
}
.footer__nav a {
  color: var(--grayDark);
  text-decoration: none !important;
  transition: all 0.2s;
}
.footer__nav a:hover,
.footer__nav a:active {
  color: var(--primary);
}
.footer__copyright {
  justify-self: end;
  color: var(--grayMedium);
}
@media only screen and (max-width: 50em) {
  .footer__copyright {
    justify-self: center;
  }
}

/*$$$$$$$$$$$$$$$$$$$$$$ header user nav  $$$$$$$$$$$$$$$$$$$$$$*/
.nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .nav {
    flex-direction: column;
  }
}

.nav svg {
  height: 3rem;
  width: 3rem;
  fill: var(--grayLightest);
  margin-right: 1rem;
}

.nav--user {
  justify-content: flex-end;
}

.nav--artwork {
  justify-content: center;
}

.nav__el,
.nav__el:link,
.nav__el:visited {
  color: var(--grayLightest);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.nav__el:hover,
.nav__el:active {
  transform: translateY(-2px);
  text-shadow: 0 0.7rem 1rem var(--black);
}
.nav__el:not(:last-child) {
  margin-right: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__el:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.2rem;
  }
}
.nav__el:focus {
  outline: none;
}
.nav__el--cta {
  padding: 1rem 3rem;
  border-radius: 10rem;
  border: 1px solid currentColor !important;
  transition: all 0.3s;
}
.nav__el--cta:hover {
  background-color: var(--grayLightest);
  color: var(--grayDark);
  text-shadow: none;
  border-color: var(--grayLightest);
}

/*$$$$$$$$$$$$$$$$$$$$$$ nav search box  $$$$$$$$$$$$$$$$$$$$$$*/

.nav__search {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .nav__search {
    order: -1;
    margin-bottom: 1.2rem;
  }
}
.nav__search-btn {
  background: none;
  border: none;
  margin-right: 0.8rem;
  transform: translateY(1px);
}
.nav__search-btn svg {
  height: 2rem;
  width: 2rem;
  fill: var(--grayLightest);
}
.nav__search-input {
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--grayLightest);
  padding-bottom: 3px;
  border-bottom: 1px solid var(--grayMedium);
  width: 18rem;
  transition: all 0.3s;
}
.nav__search-input::-webkit-input-placeholder {
  color: var(--grayMedium);
}
.nav__search-input:-ms-input-placeholder {
  color: var(--grayMedium);
}
.nav__search-input::-ms-input-placeholder {
  color: var(--grayMedium);
}
.nav__search-input::placeholder {
  color: var(--grayMedium);
}
.nav__search-input:focus {
  outline: none;
  width: 25rem;
  border-bottom: 1px solid currentColor;
}
.nav__user-img {
  height: 4rem;
  border-radius: 20%;
  margin-right: 1rem;
}

/*$$$$$$$$$$$$$$$$$$$$$$ side nav $$$$$$$$$$$$$$$$$$$$$$*/

.side-nav {
  list-style: none;
}
.side-nav li {
  margin: 1rem 0;
  border-left: 0 solid var(--White);
  transition: all 0.3s;
}
.side-nav--active,
.side-nav li:hover {
  border-left: 4px solid var(--White) !important;
}
.side-nav--active a {
  transform: translateX(-3px);
}
.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  color: var(--White);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s;
}
.side-nav a:hover,
.side-nav a:active {
  transform: translateX(3px);
}
.side-nav svg {
  height: 1.9rem;
  width: 1.9rem;
  fill: var(--grayLightest);
  margin-right: 2rem;
}

.admin-nav {
  margin-top: 5.5rem;
}
.admin-nav__heading {
  margin: 0 5rem 1.5rem 4rem;
  padding-bottom: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--grayLighter);
  border-bottom: 1px solid currentColor;
}

/*$$$$$$$$$$$$$$$$$$$$$$ error  $$$$$$$$$$$$$$$$$$$$$$*/

.error {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80rem;
  text-align: center;
}
.error__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}
.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

/*$$$$$$$$$$$$$$$$$$$$$$ login $$$$$$$$$$$$$$$$$$$$$$*/

.login__box {
  background-color: var(--grayLightest);
}

.login-form {
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 10rem;
  max-width: 45rem;
  background-color: var(--White);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

/*$$$$$$$$$$$$$$$$$$$$$$ imput form  $$$$$$$$$$$$$$$$$$$$$$*/

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--grayDark);
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: var(--White);
  background-color: var(--grayLighter);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid var(--primary);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--orange);
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__photo-upload {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid var(--primary);
  outline-offset: 3px;
}

.form__upload + label {
  color: var(--primary);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--primary);
  padding: 3px;
  transition: all 0.2s;
  cursor: pointer;
}
.form__upload + label:hover {
  background-color: var(--primary);
  color: var(--White);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

/*$$$$$$$$$$$$$$$$$$$$$$ password reset  $$$$$$$$$$$$$$$$$$$$$$*/

.pwd-reset:link,
.pwd-reset:visited {
  font-size: 1rem;
  text-align: center;
  color: var(--grayDark);
  text-decoration: none;
  transition: all 0.2s;
}

.pwd-reset :hover,
.pwd-reset :active {
  color: var(--primary);
}

.form__horizontal {
  display: flex;
}

.form__groupHori:not(:last-child) {
  margin-right: 1rem;
}

/*$$$$$$$$$$$$$$$$$$$$$$ USER CARDS $$$$$$$$$$$$$$$$$$$$$$*/

.card-container {
  max-width: 100rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  padding: 2rem;
}

.card {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: var(--White);
  transition: 0.3s all;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
}
.card__header {
  position: relative;
}
.card__picture {
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  height: 22rem;
}
.card__picture-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    var(--primaryLight),
    var(--primaryDarker)
  );
  opacity: 0.7;
}
.card__picture-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.card__details {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.75rem;
  grid-column-gap: 2rem;
  padding: 2.5rem 3rem;
}
.card__sub-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  grid-column: 1 / -1;
}
.card__text {
  grid-column: 1 / -1;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: -1rem;
  margin-bottom: 0.75rem;
}
.card__textSubHeading {
  font-size: 1rem;
  font-style: italic;
  margin-left: 1rem;
  margin-bottom: 0.75rem;
}
.card__data {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}
.card__data svg {
  margin-right: 0.7rem;
}
.card__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--primary);
}

.card__icon-white {
  height: 2rem;
  width: 2rem;
  fill: var(--White);
}

.card__footer {
  background-color: var(--grayLightest);
  padding: 2.5rem 3rem;
  border-top: 1px solid #f1f1f1;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: auto;
}
.card__footer-value {
  font-weight: 700;
}
.card__footer-text {
  color: var(--grayMedium);
}
.card__ratings {
  grid-row: 2 / 3;
}
.card .btn-small,
.card .btn {
  grid-row: 1 / 3;
  justify-self: end;
  align-self: center;
}

/*$$$$$$$$$$$$$$$$$$$$$$ ROWS $$$$$$$$$$$$$$$$$$$$$$*/

.single-row-container {
  max-width: 100%;
  display: flexbox;
  flex-direction: column;
}
.single-row-header {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-gap: 1rem;
  margin: 1rem;
  color: var(--grayDark);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 200;
}
.single-row {
  display: grid;
  border-radius: 5px;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-gap: 1rem;
  margin: 1rem;
  height: 6rem;
  background-image: linear-gradient(
    to bottom right,
    rgba(155, 179, 222, 0.85),
    rgba(36, 75, 146, 0.85)
  );
  color: var(--grayLightest);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
}

.single-row:link,
.single-row:visited {
  text-decoration: none;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.single-row:hover,
.single-row:active {
  transform: translateY(-2px);
  border: 1px solid var(--black);
}

.single-row-container div {
  place-self: center;
}

.row-container {
  max-width: 100%;
  display: flexbox;
  flex-direction: column;
}
.row-header {
  display: grid;
  grid-template-columns: 0.2fr 1fr 2fr 3fr 0.5fr 0.5fr 1fr;
  grid-gap: 1rem;
  margin: 1rem;
  color: var(--grayDark);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 200;
}
.row {
  display: grid;
  border-radius: 5px;
  grid-template-columns: 0.2fr 1fr 2fr 3fr 0.5fr 0.5fr 1fr;
  grid-gap: 1rem;
  margin: 1rem;
  height: 6rem;
  background-image: linear-gradient(
    to bottom right,
    rgba(155, 179, 222, 0.85),
    rgba(36, 75, 146, 0.85)
  );
  color: var(--grayLightest);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
}

.img-div {
  padding-top: 0.5rem;
}

.row-image-pict {
  height: 5rem;
  border-radius: 3px;
}

.row--link {
  justify-self: end;
}

.row-container div {
  place-self: center;
}
.le-al {
  justify-self: start;
}

/*$$$$$$$$$$$$$$$$$$$$$$ SubROWS $$$$$$$$$$$$$$$$$$$$$$*/

.subRow-container {
  max-width: 100%;
  display: flexbox;
  flex-direction: column;
}
.subRow-header {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 0.5fr;
  grid-gap: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0.1rem;
  color: #4b4b4b;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 150;
  align-items: center;
}
.subRow {
  display: grid;
  border-radius: 5px;
  grid-template-columns: 0.2fr 1fr 1fr 0.5fr;
  grid-gap: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0.3rem;
  height: 3rem;
  background-image: linear-gradient(
    to bottom right,
    rgba(155, 179, 222, 0.85),
    rgba(36, 75, 146, 0.85)
  );
  color: var(--grayLightest);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 200;
}

.subRow:link,
.subRow:visited {
  text-decoration: none;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.subRow:hover,
.subRow:active {
  transform: translateY(-2px);
  border: 1px solid var(--black);
}

/*$$$$$$$$$$$$$$$$$$$$$$ artowrk image  $$$$$$$$$$$$$$$$$$$$$$*/

.master-crop-container {
  display: flex;
}

.crop-div {
  width: 47rem;
  height: 51.5rem;
}

#cropsCanvas {
  border: 2px dashed var(--grayDarkest);
  width: 40rem;
  height: 50rem;
  box-sizing: border-box;
  position: absolute;
  background-color: var(--White);
}

/*$$$$$$$$$$$$$$$$$$$$$$ add colors  $$$$$$$$$$$$$$$$$$$$$$*/

#markerImage {
  border: 1px solid var(--grayDark);
  position: relative;
  cursor: crosshair;
  background-color: var(--White);
  width: 40.2rem;
  height: 50.2rem;
  margin-right: 2.5rem;
}
#markerImage img {
  width: 40rem;
  height: 50rem;
}

.marker {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--White);
}

.form__inputColor {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--grayDark);
  padding: 1.25rem 1.75rem;
  border: none;
  background-color: var(--White);
  background-color: var(--grayLighter);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}

.dropdown-div {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 2rem;
}
.dropdown-div label {
  margin-right: 1rem;
}

.add-colors-form {
  display: flex;
}

/*$$$$$$$$$$$$$$$$$$$$$$ IMPERSONATE MENU  $$$$$$$$$$$$$$$$$$$$$$*/

.impMenu {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: var(--White);
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1.6rem 10rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  background-color: var(--primaryLight);
}

.impMenu span {
  margin-right: 3rem;
}

/*$$$$$$$$$$$$$$$$$$$$$$ welcome page logo  $$$$$$$$$$$$$$$$$$$$$$*/

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.welcome__logo {
  height: 40rem;
}

.color--block {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  padding-top: 0.5rem;
}
